*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar, .lista-navbar{
    background-color: #0084FD;
    display: flex;
    justify-content: space-around;
    height: 10vh;
    align-items: center;
}
.lista-navbar{
    display: flex;
}
.text-nav{
    margin-right: 15%;
    color: white;
}
.pulsante{
    padding: 0 18px;
    border-radius: 30%;
    border-style: none;
}
.sezioni{
    height: 97vh;
}
.container{
    width: 60%;
    margin: 0 auto; 
    margin-top: 2%;
    margin-bottom: 5%;
}
.boh{
    display: flex;
}
.card-app{
    background-color: #B5DDFF;
    width: 58%;
    margin-right: 5%;
    display: flex;
    padding: 3%;
    border-radius: 5%;
}
.demo-app{
    margin: 5% 0 5%;;
}
.img-phone{
    width: 109%;
}
.card-code{
    background-color: #B5DDFF;
    width: 40%;
    text-align: center;
    padding: 3%;
    border-radius: 5%;
}
.clean-code{
    font-size: 12vh;
}
.cards{
    display: flex;
    text-align: center;
    
}
.card-brand{
    width: calc(100% / 3);
    background-color: #B5DDFF;
    margin-right: 5%;
    margin-top: 5%;
    padding: 3%;
    border-radius: 5%;
}
.sezioni-plan{
    background-color: #9792E4; 
    height: 90vh;  
    display: flex;
    align-items: flex-end;
}
.container-plan{
    display: flex;
    width: 60%;
    margin: 0 auto; 
    margin-bottom: 2%;
}
.plan{
    width: 50%;
}
.img-plan{
    width: 83%;
}
.text-plan{
    color: white;
    margin: 5% 0 5%;
}
.white-card{
    width: 50%;
    background-color: white;
    text-align: center;
    padding: 5%;
    border-radius: 24%;
}
.plan-img{
    width: 65%;
}
.plan-text{
    margin: 5% 0 5%;
}
.sezioni-partners{
    height: 100vh; 
}
.container-partners{
    width: 60%;
    margin: 0 auto; 
    margin-bottom: 2%;
    margin-top: 3%;
    text-align: center;
}
.text-part{
    color: white;
    margin: 5% 0 5%;
}
.titolo-part{
    color: #9792E4;
    margin: 3% 0 3%;
}
.partners{
    background-color: #9792E4;
    display: flex;
    margin-bottom: 5%;
    border-radius: 5vh;
}
.img{
    width: 30%;
    border-radius: 100%;
}
.sezioni-pro{
    height: 90vh;
    background-color: #9792E4;
}
.container-pro{
    width: 60%;
    margin: 0 auto; 
    margin-bottom: 2%;
    margin-top: 3%;
    text-align: center;
}
.cards-ben{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card-ben{
    width: calc(81% / 3);
    background-color: white;
    margin: 1%;
    padding: 1%;
    border-radius: 3vh;
}
.card-n{
    color: #9792E4;
    text-align: left;
    font-size: 6vh;
}
.titolo-ben{
    color: #9792E4;
    margin: 2% 0 2%;
    text-align: left;
}
.sezioni-user{
    height: 70vh;
}
.container-user{
    width: 60%;
    margin: 0 auto; 
    margin-top: 2%;
    margin-bottom: 5%;
    display: flex;
}
.titolo-user{
    color: #9792E4;
}
.text-user{
    width: 100%;
    margin: 5% 0 5%;
}
.user{
    text-align: center  ;
    margin: 0 34px;
}
.image-user{
    width: 50%;
    border-radius: 100%;
}
.sezioni-buy{
    height: 54vh;
    background-color: #9792E4;
}
.container-buy{
    width: 60%;
    margin: 0 auto; 
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
}
.buy-testo{
    margin: 2% 0;
}
.pulsante-buy{
    padding: 2% 5%;
    background-color: white;
    border: none;
    border-radius: 2vh;
}
.text-buy{
    font-size: 5vh;
}
.buy{
    font-size: 11vh;
    color: rgb(214, 199, 84);
}
.sezioni-footer{
    background-color: #333333;
}
.container-footer{
    width: 60%;
    margin: 0 auto; 
    text-align: center;
}
.text-footer{
    color: white;
    padding: 5%;
}